  @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgba(238, 118, 118, 0.65);
    --font-title: 'Paytone One';
}
html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1 rem;
    height: 100vh;
    position: relative;
    padding-left: 7.3rem;
    padding-top: 7.25rem;

}
  /*PSEUDO-ELEMENTO*/
  header::before{
    content: '';
    background-image: url(/assets/CSS/images/background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}

h1 {
    color:#fff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-family: var(--font-title);
    font-weight: 700;
}

span{
    color: #fff;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
}

.botao{
    background:var(--primary-color);
    color: #fff;
    font-family:var(--font-title);
    padding: .5rem 1rem;
    text-decoration: nome;
    transition: backgroud-color 1s;
}
.botao:hover{
    background-color: rgba(241, 41, 41, 0.65);
}

#secao-apresentacao{
    display: flex;
    height: 50vh;
    padding: 6.8rem ;
    gap: 16.5rem;
}
#secao-apresentacao img{
    height: 267px;
    width: 267px;
    border-radius: 100%;

}
#secao-apresentacao div{
    max-width: 40%;
}
